<%- include('templates/head', {title: 'Hackathon Copa', archivoCSS: 'eventos.css'}); %>
<%- include('templates/sidebar'); %>
<%- include('templates/topbar', {title: 'Hackathon Copa'}); %>

<div class="event">
    <div class="event__description">
        
    </div>
</div>