<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/default.css">
    <% if (typeof archivoCSS !== 'undefined') { %>
        <link rel="stylesheet" href="css/<%= archivoCSS %>">
    <% } %>
    <title><%= title %></title>
</head>